# general patterns:
*~
*.o

# Linux kernel module:
*.ko
*.cmd
*.mod.c
*.mod.o
.tmp_versions
modules.order
Module.symvers

# binaries
ccn-lite-minimalrelay
ccn-lite-relay
ccn-lite-simu

# binaries in subdirectories
util/ccn-lite-ctrl
util/ccn-lite-peek
util/ccn-lite-parse

# eof
