.DS_Store
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ
.idea/
*.iml

# Sublime
*.sublime-project
*.sublime-workspace

# Vim
*.swp

# omnet
*.tkenvlog
*.tkenvrc
*NFNNetwork.ned


*c_xml.txt
