<configuration>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.xml.classic.encoder.PatternLayoutEncoder by default -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="secmachine.logging.LogbackDefaultLayout">
        </layout>
    </encoder>
</appender>

<root level="debug">
    <appender-ref ref="STDOUT" />
</root>
</configuration>